.imspy{
  display:none;
}
/*.cdump *{
  margin:0;
  padding:0;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 26px;
  color:#1d1e1e;
}
.cdump
{
  position: relative;
  width: 100%;
  min-height: 28px;
  height: auto;
  background-color: #b6cedb;
  border:1px solid #87afc4;
  box-sizing:border-box;
  margin-bottom:10px;
}
.cdump-type
{
  float:left;
  height: 26px;
  color:#0092db;
  padding:0 10px;
}
.cdump-value{
  padding:0 4px;
}
.cdump-icon
{
  float:left;
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 150"><g stroke-width="2" fill="%23FFF"><path d="M1 1h28v28H1zm5 14h18m-9 9V6M1 61h28v28H1zm5 14h18" stroke="%23379"/><path d="M1 31h28v28H1zm5 14h18m-9 9V36M1 91h28v28H1zm5 14h18" stroke="%235A3"/><path d="M1 121h28v28H1zm5 5l18 18m-18 0l18-18" stroke="%23CCC"/></g></svg>') no-repeat scroll 0 0/100% auto transparent;
  width: 15px;
  height: 15px;
  margin:6px 0px 6px 6px;
  cursor:pointer;
}
.cdump-subov
{
  clear:left;
  position: relative;
  width: auto;
  margin:0 0 0 22px;
  height: auto;
}
.cdump-sub
{
  width: 100%;
  background-color: #ccdde6;
  height: auto;
  min-height:26px;
  margin:0;
  border:none;
  border-bottom:1px solid #bbd1dd;
  clear:left;
}
.cdump-key
{
  float:left;
  padding:0 0 0 10px;
}
.cdump-array .cdump-icon
{
  margin-left:10px;
}
.cdump-array{
}*/
